<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<!-- add key="ConnectionString" value="Provider=SQLOLEDB.1;Password=@Qaz151618;User ID=sa;Data Source=127.0.0.2,1435;Initial Catalog=MUNDOSALUD;Persist Security Info=True"/ -->
	<!-- add key="ConnectionString"				value="Provider=SQLOLEDB.1;Password=@Qaz151618;User ID=sa;Data Source=127.0.0.2,1436;Initial Catalog=Getpoint_GH_Test;Persist Security Info=True"/ -->
	<add key="ConnectionString"				value="Provider=SQLOLEDB.1;Password=@Qaz151618;User ID=sa;Data Source=127.0.0.2,1435;Initial Catalog=Alertas;Persist Security Info=True"/>	  
	<add key="BD_DEFAULT"					value="GETPOINT_DEFAULT"/>  
	<add key="PathLogITEC"					value="C:\ITEC\BROADCAST"/>  

	<!-- SI: Registra todos los mensajes; NO: No escribe todos los mensajes al LOG -->	  
	<add key="RegistroArchivoLog"			value="SI"/>

	<!-- Guarda el error dentro de la tabla de errores en la Base de datos-->
	<add key="RegistroBDLog"				value="SI"/>
	  
	<add key="Timer"						value="20000 "/>
	<add key="EmpId"						value="1"/>

	<!-- True: Espera que el webhook retorne una respuesta-->
	<add key="EsperaRespuestaWEBHOOK"		value="True"/>

	<!-- True: Genera JSON con multiples confirmaciones asociadas a la misma ODP (Folio)-->
	<add key="ConfirmacionMultiplePorODP"	value="True"/> 
	  
	<!-- ========== Indicadores si habilita un integrador, cada metodo debe tener uno ========== -->
	<!-- 1: Activa confirmacion recepciones-->
	<add key="Activa_CONFIRMA_RECEPCION"	value="false"/>
	  
	<!-- 2: Activa confirmacion despachos-->
	<add key="Activa_CONFIRMA_DESPACHO"		value="True"/>

	<!-- 3: Activa envio cantidades faltantes despacho-->
	<add key="Activa_FALTANTE_DESPACHO"		value="False"/>

	<!-- 4: Activa Webhook Alerta-->
	<add key="Activa_WebhookAlerta"			value="False"/>

	<!-- 5: Activa Webhook Traking despachos-->
	<add key="Activa_WebhookTracking"		value="False"/>

	<!-- 6: Activa WebHook envia hacia ERP datos de Ajuste de entrada o salida generado en Getpoint-->
	<add key="Activa_CONFIRMA_AJUSTE"		value="False"/>

	<!-- 7: WebHook envia hacia ERP datos de Anulacion de un Pedido o Despacho-->
	<add key="Activa_ANULA_PEDIDO"			value="False"/>

	<!-- 8: Llamado API crea pedido en DRIV.IN con los datos de la ODP despachada-->
	<add key="Activa_CREA_PEDIDO_DRIVIN"	value="False"/>

  </appSettings>
  <system.web>
	<membership defaultProvider="ClientAuthenticationMembershipProvider">
	  <providers>
		<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
	  </providers>
	</membership>
	<roleManager defaultProvider="ClientRoleProvider" enabled="true">
	  <providers>
		<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
	  </providers>
	</roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
